Importando as bibliotecas do phyton

In [2]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import glob

. Definindo variáveis com impressão do gráfico
. definindo uma função
. Solucionando a tarefa
. Solucionando a tarefa bônus

In [3]:
def ano_para_ano_decimal(array_anos, array_meses):
    ano_decimal = ((array_meses - 1)/12 + array_anos)
    return ano_decimal

In [5]:
year_01=np.array([1985,1985,1985])
month_01=np.array([1,2,3])
ano_para_ano_decimal(year_01,month_01)

array([ 1985.        ,  1985.08333333,  1985.16666667])

Definindo uma função matemática para converter os valores de anos e meses em anos e meses decimais;
inserindo os valores das variáveis;
testando a função matemática criada.

In [9]:
def matrix_2D(dados01):
    ano_decimal = ano_para_ano_decimal(dados01[:, 0], dados01[:, 1])
    anomalia_temperatura = dados[:,4]
    anomalia_10anos = dados [:, 8]
    incerteza_10anos = dados [:, 9]